{% extends "layout.html" %}


{% block title %}
    Book review
{% endblock %}


{% block form_search %}
{% endblock %}


{% block content %}
    <div class="container text-center text-white">
        <h2 class="page-header">Book: {{ book.title }}</h2>
        <h3>Author: {{ book.author }}</h3>
        <h5>ISBN: {{ book.isbn }}</h5>
    </div>

    <div class="container mt-4 text-white">
      <h4 class="text-center align-middle">Review ratings</h4>

      <div class="row">
        <div class="col-6 text-center align-middle">
          <h4>Book review</h4>
          <div>
            <h5>
              {{ rating }}
            </h5>
            <p>{{ num_revs }} reviews</p>
          </div>
        </div>
        <div class="col-6 text-center align-middle">
          <h4>Good Reads</h4>
          <div>
            <h5>
              {{ rating_good_reads }}
            </h5>
            <p>{{ num_revs_good_reads }} reviews</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
